@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: theme('fontFamily.body');
    color: theme('colors.ink');
    background-color: theme('colors.frost');
  }
}
